<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pam.wealth.flow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="pam_wealth_flow"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 1. HTTPS App Links -->
            <!-- autoVerify="true" is required for automatic app opening on Android 12+ -->
            <!-- You MUST have assetlinks.json hosted at https://cloudsms-e9900.web.app/.well-known/assetlinks.json -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="cloudsms-e9900.web.app" />
                <data android:host="cloudsms-e9900.firebaseapp.com" />
            </intent-filter>

            <!-- 2. Custom Scheme Fallback -->
            <!-- Works immediately for testing without server configuration -->
            <!-- Test URL: pamwealth://register?ref=CODE -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="pamwealth" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>